/*-----------------------------
		Fonts
-----------------------------*/
@font-face {
  font-family: 'VerbCondExtraLight';
  src: url(../fonts/VerbCondExtraLight.eot);
  src: url(../fonts/VerbCondExtraLight.eot?#iefix) format("embedded-opentype"), url(../fonts/VerbCondExtraLight.woff) format("woff"), url(../fonts/VerbCondExtraLight.ttf) format("truetype"); }

@font-face {
  font-family: 'VerbBlack';
  src: url(../fonts/VerbBlack.eot);
  src: url(../fonts/VerbBlack.eot?#iefix) format("embedded-opentype"), url(../fonts/VerbBlack.woff) format("woff"), url(../fonts/VerbBlack.ttf) format("truetype"); }

/*-----------------------------
		Base Styles
-----------------------------*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  background: #F18260;
  font-size: 100%;
  height: 100%;
  overflow: hidden;
  width: 100%; }

body {
  color: white;
  text-align: left; }

.headline {
  margin: 6rem 0 0  10%;
  width: 18.75rem;
  height: 100%; }

h1 {
  color: #2E464E;
  font: 800 1.875rem "VerbBlack";
  letter-spacing: .1rem;
  margin-bottom: .5rem;
  text-transform: uppercase; }

h2 {
  font: 100 1.7rem "VerbCondExtraLight";
  margin-bottom: 3rem; }

form {
  display: inline;
  font-size: 0; }

.contact {
  color: #CE3B1A;
  font: 100 1.2rem/.9 "VerbCondExtraLight";
  border-bottom: 1px solid #CE3B1A;
  text-decoration: none;
  position: absolute;
  left: 10%;
  bottom: 8%; }

input[type="email"], input[type="submit"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 1.3rem 1.2rem 1.1rem 1.2rem;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease; }

input[type="email"] {
  color: #2E464E;
  font: 100 1rem "VerbCondExtraLight";
  width: 70%; }

input[type="email"]:focus {
  box-shadow: 0 0 0 6px #EF5A37 inset;
  outline: none; }

input[type="submit"] {
  background: #EF5A37;
  border-radius: 0;
  border: none;
  color: white;
  font: 1rem "VerbBlack";
  letter-spacing: .1rem;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  width: 30%; }

input[type="submit"]:hover {
  background: #CE3B1A; }

input[type="submit"]:active {
  background: #EF5A37;
  transition: none;
  -webkit-transition: none; }

.screen {
  background: url(../images/screen.svg) no-repeat top center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: calc(100% - 6rem);
  height: -webkit-calc(100% - 6rem);
  left: 35%;
  position: absolute;
  top: 6rem;
  transition: left 500ms ease;
  width: 56.25rem;
  -webkit-transition: left 500ms ease; }

.rollover {
  color: white;
  opacity: 0;
  background: #EF5A37;
  font: 100 5rem "VerbCondExtraLight";
  height: calc(100% - 3.75rem);
  height: -webkit-calc(100% - 3.75rem);
  left: 0;
  padding: 5% 0 0 1em;
  position: absolute;
  top: 3.75rem;
  transition: opacity 500ms ease;
  width: 100%;
  -webkit-transition: opacity 500ms ease; }

.text {
  border-bottom: 5px solid white;
  display: block;
  width: 12.5rem; }

span:hover {
  opacity: .9; }

.view {
  color: #CE3B1A;
  display: none;
  font: 100 1rem/1 "VerbCondExtraLight";
  margin-bottom: 8%;
  text-decoration: underline; }

/*-----------------------------
  Media Query - Below 1300px
-----------------------------*/
@media only screen and (max-width: 1300px) {
  .screen {
    left: 45%; }

  .headline {
    margin-left: 8%; } }
/*-----------------------------
  Media Query - Below 900px
-----------------------------*/
@media only screen and (max-width: 900px) {
  body {
    text-align: center; }

  .headline {
    margin: 10% auto;
    width: 90%; }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 10%; }

  .screen {
    -webkit-transition: none;
    border-radius: 3px 3px 0 0;
    left: 5%;
    right: 5%;
    top: auto;
    transition: none;
    width: 90%; }

  .rollover {
    display: none; }

  .view {
    display: inline-block; } }
/*-----------------------------
  Extras
-----------------------------*/
::selection {
  background: transparent;
  color: #CE3B1A; }

::-moz-selection {
  background: transparent;
  color: #CE3B1A; }